body {
   font-family: "Arial","Verdana","Century Gothic",sans-serif;
   font-size:12px;
   background-color: #ffffff;
}

.widget {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 10px;
}

.title span {
    font-weight: bold;
    font-size: 16px;
}

table, thead {
    border: 1px solid #000000;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000000;
    text-align: left;
    height: 14px;
}

.tabela-ogol {
    display: inline-block;
    float: left;
}

.tabela-szczegoly {
    width: auto;
    overflow: scroll;
}

.tabela-szczegoly table {
    margin-left: 5px;
    width: 1500px;
}

.tabela-szczegoly th, .tabela-szczegoly td {
    text-align: center;
}

