<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Domowy Budżet - czyli jak nie zbankrutować</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/milobudzet/css/style.css') }}">
</head>
<body>
    <div class="kontener">
        
        <div class="logo">
            <h1>BUDŻET DOMOWY</h1>
        </div>
        <div class="widget miesiac-suma">
            <div class="title">
                <span>Listopad</span>
                <button>Zmień</button>
            </div>
            <h4>Przychody: 4040,00 zł</h4>
            <h4>Wydatki: 3350,00 zł</h4>
        </div>
        <div class="widget przychody-ogol">
            <div class="title">
                <span>Przychody</span>
                <button>Dodaj nowy</button>
            </div>
            <table class="przychody-tabela">
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Przychód</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Przychody</th>
                        <th>4040,00 zł</th>
                    </tr>
                    <tr>
                        <td>Pensja Janusz</td>
                        <td>2000,00 zł</td>
                    </tr>
                    <tr>
                        <td>Pensja Grażyna</td>
                        <td>1540,00 zł</td>
                    </tr>
                    <tr>
                        <td>Pińcet plus</td>
                        <td>500,00 zł</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="widget wydatki-ogol">
            <div class="title">
                <span>Wydatki</span>
                <button>Dodaj nowy</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Wydatki</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Jedzenie</th>
                        <th>2000,00 zł</th>
                    </tr>
                    <tr>
                        <td>Jedzenie dom</td>
                        <td>1500,00 zł</td>
                    </tr>
                    <tr>
                        <td>Jedzenie praca</td>
                        <td>500,00 zł</td>
                    </tr>
                    <tr>
                        <th>Samochody</th>
                        <th>350,00 zł</th>
                    </tr>
                    <tr>
                        <td>Paliwo Passat</td>
                        <td>100,00 zł</td>
                    </tr>
                    <tr>
                        <td>Paliwo Golf II</td>
                        <td>20,00 zł</td>
                    </tr>
                    <tr>
                        <td>Naprawy</td>
                        <td>230,00 zł</td>
                    </tr>
                     <tr>
                        <th>Kieszonkowe</th>
                        <th>1000,00 zł</th>
                    </tr>
                    <tr>
                        <td>Brajan</td>
                        <td>500,00 zł</td>
                    </tr>
                    <tr>
                        <td>Dżesika</td>
                        <td>500,00 zł</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            {% for entry in rows %}
                {{ entry.id }}
                {{ entry.grupa }}
                {{ entry.dodajKategorie }}
            {% endfor %}
        </div>
    </div>
</body>
</html>